@font-face {
    font-family: 'kingthings_callicalligraphica';
    src: url('../fonts/Kingthings-Calligraphica-fontfacekit/web fonts/kingthingscalligraphica_italic_macroman/Kingthings_Calligraphica_Italic-webfont.eot');
    src: url('../fonts/Kingthings-Calligraphica-fontfacekit/web fonts/kingthingscalligraphica_italic_macroman/Kingthings_Calligraphica_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings-Calligraphica-fontfacekit/web fonts/kingthingscalligraphica_italic_macroman/Kingthings_Calligraphica_Italic-webfont.woff2') format('woff2'),
         url('../fonts/Kingthings-Calligraphica-fontfacekit/web fonts/kingthingscalligraphica_italic_macroman/Kingthings_Calligraphica_Italic-webfont.woff') format('woff'),
         url('../fonts/Kingthings-Calligraphica-fontfacekit/web fonts/kingthingscalligraphica_italic_macroman/Kingthings_Calligraphica_Italic-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings-Calligraphica-fontfacekit/web fonts/kingthingscalligraphica_italic_macroman/Kingthings_Calligraphica_Italic-webfont.svg#kingthings_callicalligraphica') format('svg');
    font-weight: normal;
    font-style: normal;
}
img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    height: 250px;
    width: 200px;
}
.descr{
    position: absolute;
    top: 0;
    right: 100;
    left: 10;
    height: 200px;
    width: 200px;
    padding: .5em;
    background: #000;
    background: rgba(0, 0, 0, .60);
    color: #fff;
}
header{
  background-color: white;
  padding: 0;
}
header.container-fluid{
  padding: 0;
  margin: 0;
}
header .row{
  margin: 0;
  padding:0;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  border: 2px solid black;
  position:relative;
  height:250px;
  width: 250px;
  margin: auto;
}
body {
  background-color: #cccccc;
  background-image: url(../img/triskel.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  background-size: 40%;
  background-position: 550px 150px;
}
ul, #produit{
  font-family: 'kingthings_callicalligraphica';
  font-size: 30px;
}
h2{
  font-family: 'kingthings_callicalligraphica';
  font-size: 50px;
  margin-bottom: 35px;
  margin-left: 15px;
  font-weight: bold;
  color: black ;
}
figure {
  height: 350px;
  width: 200px
}
figure img {
  width: 200px;
  min-height: 100px;
  max-height: 200px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}
.titre {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
}
.price {
  text-decoration: overline;
  font-weight: bold;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
}
figure button {
  margin-top: 5px;
  margin-left: 70px;
}
.imgbasket{
  width : 100px
}
.arrowUp{
  color:black;
  position:fixed;
  right:75px;
  bottom:75px;
  font-size:250%;
}
.arrowUp:hover{
  color:black;
}
.descr{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: .5em;
    background: #000;
    background: rgba(0, 0, 0, .60);
    color: #fff;
    margin-left: 15px;
    overflow:hidden; /* permet de caché le texte qui dépasse du cadre */
}
#clothes{
  margin-top: 0px;
  text-align: left;
}
h1{
  margin-top: 50px;
}
@media screen and (min-width: 200px) and (max-width: 475px)  {
  .descr{
      position: absolute;
      top: 0;
      right: 100;
      left: 10;
      height: 120px;
      width: 120px;
      padding: .5em;
      background: #000;
      background: rgba(0, 0, 0, .60);
      color: #fff;
  }
  h1{
    margin-top: 30px;
  }
}
@media screen and (min-width: 200px) and (max-width: 390px)  {
  .descr{
      position: absolute;
      top: 0;
      right: 100;
      left: 10;
      height: 120px;
      width: 120px;
      padding: .5em;
      background: #000;
      background: rgba(0, 0, 0, .60);
      color: #fff;
  }
  figure img {
      width: 120px;
      height: 120px;
  }
  figure{
    width: 120px;
    height: 320px;
  }
  body{
    background-position: 100px 150px;
  }
  figure button{
    margin-left: 30px;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height:150px;
    width: 150px;
  }
  .hermine{
    width: 130px;
  }
}
@media screen and (min-width: 391px) and (max-width: 499px)  {
  .descr{
      position: absolute;
      top: 0;
      right: 100;
      left: 10;
      height: 150px;
      width: 150px;
      padding: .5em;
      background: #000;
      background: rgba(0, 0, 0, .60);
      color: #fff;
  }
  .hermine{
    width: 130px;
  }
  figure img {
      width: 150px;
      height: 150px;
  }
  figure{
    width: 150px;
    height: 320px;
  }
  body{
    background-position: 150px 150px;
  }
  section{
    margin-left: 30px;
  }
  figure button{
    margin-left: 40px;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height:150px;
    width: 150px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px)  {
  .descr{
      position: absolute;
      top: 0;
      right: 100;
      left: 10;
      height: 150px;
      width: 150px;
      padding: .5em;
      background: #000;
      background: rgba(0, 0, 0, .60);
      color: #fff;
  }
  figure img {
      width: 150px;
      height: 150px;
  }
  figure{
    width: 150px;
    height: 320px;
  }
  body{
    background-position: 200px 150px;
  }
  section{
    margin-left: 85px;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height:150px;
    width: 150px;
  }
}
@media screen and (min-width: 768px) and (max-width: 899px)  {
  .descr{
      position: absolute;
      top: 0;
      right: 100;
      left: 10;
      height: 150px;
      width: 150px;
      padding: .5em;
      background: #000;
      background: rgba(0, 0, 0, .60);
      color: #fff;
  }
  section{
    margin-left: 35px;
  }
  body{
    background-position: 250px 150px;
  }
  ul, #produit{
    font-size: 19px;
  }
  figure img {
      width: 150px;
      height: 150px;
  }
  figure{
    width: 150px;
    height: 320px;
  }
}
@media screen and (min-width: 900px) and (max-width: 991px)  {
  section{
    margin-left: 65px;
  }
  body{
    background-position: 300px 150px;
  }
  ul, #produit{
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px)  {
  body{
    background-position: 350px 150px;
  }
  ul, #produit{
    font-size: 27px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px)  {
  body{
    background-position: 350px 150px;
  }
  div.col-lg-offset-1.col-lg-2{
    margin-left:  30px;
  }
  div.col-lg-2{
    margin-left:  15px;
  }
}
